<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.sitetitle }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>{{ page.sitetitle }}</strong> - {{ page.subtitle }}</a>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ page.title }}</h1>
									</header>

									{{ content }}
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Homepage</a></li>
										<li>
											<span class="opener">Knowledge Base</span>
											<ul>
												<li><a href="enisareq.html">Enisa Requirements</a></li>

											</ul>
										</li>
									</ul>
								</nav>


							<!-- Section -->
								<section>
									<header class="major">
										<h2>About SCRATCh</h2>
									</header>
									<p>Development and operation of secure, large-scale IoT systems is hard. While there exist technological platforms aimed at providing the necessary building blocks to integrate devices and backbone logic, they do not address the major concerns of today’s software-intensive systems: security, agility and a need for continuous deployment.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">witt@consider-it.de</a></li>
										<li class="icon solid fa-phone">+49 173 9913613</li>
										<li class="icon solid fa-home">consider it GmbH<br />Ingolstädter Str. 1-3<br />
										D-28211 Bremen</li>
										<a href="https://consider-it.de/impressum">impressum</a>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
